*.DS_Store
*.log
*.zip
.idea
.sass-cache/
/nbproject/
/nbproject/private/
/node_modules/
ad.js
TODO
test.html

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
